<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NYTimesAPIList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD7206D92719CA0700B1ED4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7206F22719CA0900B1ED4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7206FC2719CA0900B1ED4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
